
.container {
	background-color: #A9A9A9;
	border-style: groove;
	border-radius: 10px;
	margin-bottom: 20px;
	overflow: hidden;
	overflow-wrap: break-word;
	margin-top: 40px;
}

img {
	border-style: groove;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-top: 10px;
	width: 200px;
    height: 200px;
}

#name {
	margin-top: 10px;
	overflow-wrap: break-word;
	width: auto;
	font-size: 30px;
	font-weight: bold;
	font-family: Helvetica;
	text-shadow: 1px 1px 1px #ccc;
}

#price {
	margin-top: 10px;
	font-size: 20px;
	font-family: Helvetica;
	text-shadow: 1px 1px 1px #ccc;
	font-weight: bold;
}

#link {
	margin-top: 10px;
	width: auto;
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bold;
}
